* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: #050505;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    color: #07f50d;
    
    font-family: sans-serif;
    opacity:95%;
    background-color:#8989b3;
    background-image: url("./pictures/fruits.png");
    background-size: 30%;
    background-attachment:fixed;   
    border-bottom: 4px solid #fdb347;    
  }
  
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 10px auto 10px auto;
    padding: 20px 10px;
    background-color: #fdb347;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border: 4px solid #0d0903;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  